
<div class="columns-1">
<h1>Write your message</h1>
<p class="mt-8 mb-6 text-sm leading-6 text-gray-600">This letter will be anonymously send to a stranger, talk with your gut & heart.</p>
  <div class="justify-center flex items-stretch">
    <%= simple_form_for(@lovemessage) do |f| %>
      <div class="flex flex-col mb-4">
        <%= f.input :first_name, placeholder: "what is your name?", label_html: { class: "italic" }, input_html: { class: "rounded-md"} %>
      </div>
      <div class="flex flex-col mb-4">
        <%= f.input :name, input_html: { class: "rounded-md"} %>
      </div>
      <div class="flex flex-col mb-4">
        <%= f.input :letter, input_html: { class: "rounded-md"} %>
      </div>
      <div class="flex flex-col mb-4">
        <%= f.input :adress, input_html: { class: "rounded-md"} %>
      </div>
      <div class="flex flex-col mb-4">
        <%= f.input :zip_code, input_html: { class: "rounded-md"} %>
      </div>
      <div class="flex flex-col mb-4">
        <%= f.input :delivery, input_html: { class: "rounded-md"} %>
      </div>
      <div class="flex flex-col mb-4">
        <button type="submit" class="rounded-full bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"><%= f.submit %></button>
      </div>
    <% end %>
  </div>
</div> 